body
{
    background-color: black;

}
@font-face {
    font-family: 'FederationClassic';
    font-size: normal;
    font-weight: normal;
    src: url(fonts/FEC_____.TTF);
}
#fo
{
    display: block;
    margin: auto;
    width: 490px;
    height: 300px;
}
a
{
    font-family: 'FederationClassic';
    text-decoration: none;
    color: #15DA34;
}