*
{
    padding: 0;
    margin: 0;
}
body
{
   background: black;
   background-image: url("https://c4.wallpaperflare.com/wallpaper/37/549/284/smoke-green-shroud-clot-wallpaper-preview.jpg");
}
a > p
{
    display: none;
}
a:hover > p
{
    display: block;
}
a:hover
{
    box-shadow: 1px 1px 10px chartreuse;
    border: 1px solid white;
    transition: 0.5s
}
a:hover > img
{
    box-shadow: 1px 1px 20px chartreuse;
    transition: 1s;
}
li
{
    list-style: none;
}
table
{
    display: block;
    margin: auto;
    padding-left: 60px;
}
img
{
    border-radius: 10px;
}
p
{
    color: white;
    transition-delay: 1s;
}
.linha_combos
{
    display: none;
}
#te
{
    border: 1px solid chartreuse;
    box-shadow: 3px 10px 10px chartreuse;
    transition: 4s;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.24), transparent,rgba(255, 255, 255, 0.103), transparent);
    width: 500px;
    margin: auto;
    border-radius: 20px;

}
option
{
    display: none;
}
a:hover > option
{
    display: block;
    
}
span
{
    display: none;
    transition: 4s;
    border: 1px solid white;
    height: auto;
    width: 400px;
}
:hover > span
{
    display: block;
    border: 1px solid white;
    height: auto;
    width: 400px;
    box-shadow: chartreuse 1px 3px 10px;
    
}
.kit
{
    padding: 10px;
    border: 1px solid chartreuse;
    color: white;
    text-shadow: chartreuse 1px 1px 10px;
   
}
.habi
{
    padding: 10px;
    border: 1px solid white;
    color: rgba(128, 255, 0, 0.788);
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.37), transparent);
    
}
.butoes
{
    display: block;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.combos 
{
    display: inline-flex;
    padding: 10px;
}
